.PostReminderPluginRootModal {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 16px;
    @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 40px;
        margin-top: 16px;
        text-align: center;
        font-weight: 300;
        line-height: 1;
        strong {
            font-weight: 400;
        }
    }
    h2 {
        font-weight: 300;
        strong {
            font-weight: 400;
        }
    }

    .postreminderplugin-modal-icon {
        text-align: center;
        svg {
            height: 32px;
            width: 126px;
            margin-right: 85px;
        }
    }

    .postreminderplugin-issue {
        max-width: 720px;
        width: 100%;
        margin-bottom: 28px;
        .postreminderplugin-input {
            height: 144px;
            border: 1px solid var(--center-channel-color-16);
            border-radius: 4px;
            padding: 12px 14px;
            width: 100%;
            font-size: 14px;
            resize: none;
            overflow: auto;
            &.postreminderplugin-one-line {
                height: 48px;
            }
            &:focus {
                border-color: var(--center-channel-color-32);
            }
        }
        .postreminderplugin-help-text {
            margin-top: 8px;
        }
    }

    .postreminderplugin-button-container {
        margin-bottom: 28px;
        button {
            padding: 13px 26px;
            font-size: 16px;
            font-weight: 600;
            border-radius: 4px;
            &:focus, &:active, &:focus:active {
                outline: none;
                border-color: transparent;
            }
        }
    }

    .postreminderplugin-divider {
        border-bottom: 1px solid var(--center-channel-color-32);
        height: 1px;
        width: 65%;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .postreminderplugin-clarification {
        max-width: 720px;
        width: 100%;
        margin-bottom: 28px;
        .postreminderplugin-question {
            font-weight: 300;
            font-size: 14px;
            width: 100%
        }
        .postreminderplugin-answer {
            font-size: 12px;
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .postreminderplugin-add-to-thread {
        max-width: 720px;
        margin-bottom: 10px;
    }
    .postreminderplugin-duration-container {
        max-width: 720px;
        margin-bottom: 10px;
    }
}
